DATABASE_URL="postgresql://educacao:educacao@localhost:5432/educacao_provas?schema=public"
JWT_SECRET="secret"
EMAIL_KEY="email_key"
MAIL_FROM="email_from"
HAS_LOGS=false
JWT_EXPIRES_IN="1d"
PORT=3333
